.DS_Store
/.vscode
/.zed
/.nova
/.gram
/.claude
/.obsidian
/CLAUDE.md

/composer.lock
/sample/composer.json
/sample/composer.lock
/patches.lock.json
/.php-cs-fixer.cache
/vendor

# Ignore all .env files
/.env*
# Except these
!/.env.sample*
!/.env.testing

#Ignore local tests
# *_local.php
