<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="application/tests/Bootstrap.php"
         cacheResult="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnWarning="true"
         failOnRisky="true">
  <testsuites>
    <testsuite name="Example Tests">
      <directory>application/tests/unit/example</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="application/tests/reports/logs/junit.xml"/>
    <!-- <log type="coverage-html" target="tests/_reports/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" /> -->
    <!-- <log type="testdox-text" target="tests/_reports/testdox/executed.txt"/> -->
  </logging>
</phpunit>
<!-- https://phpunit.readthedocs.io/en/9.5/ -->