# Ignore everything
*

# Then allow specific folders
!application/
!public/
!private/
!bin/
!patches/
!docker/

#  System files
**/.DS_Store
**/Thumbs.db

# Temp files
**/*.log
**/*.cache
**/*.tmp

# Extra files
!composer.json
!composer.lock
