#config.php
# php public/index.php manager tools generate_enc_key
CF_ENCRYPTION_KEY=
#config.php::session
# redis: 127.0.0.1:6379?timeout=10.0&prefix=mgr_session&database=1&password=secure
# database: ci_sessions
CF_SESS_SAVE_PATH=

#database.php
DB_USER=
DB_PASS=

#lib_amazon_aws.php
LIB_AWS_ACCESSKEY=
LIB_AWS_SECRETKEY=

#lib_jwt.php
LIB_JWT_DEFAULT_SECRET=

#lib_mailing.php::$email_config['default']
LIB_MAIL_CF_DEFAULT_SMTP_USER=
LIB_MAIL_CF_DEFAULT_SMTP_PASS=

#redis.php
LIB_REDIS_PASSWORD=
